@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    background-color: #1d2025;
}
.buttons:hover {
    background-color: whitesmoke;
    cursor: pointer;
}
.buttons:active {
    background-color: rgb(177, 177, 177);
}