body {
    font-family: monospace;
    margin: 0;
    background-image: url("./images/bg.jpg");
}
#container {
    color: white;
    background-color: #000000;
    width: 40%;
    border: rgb(255, 255, 255) 0.3px solid;
    border-radius: 10px;
    height: 88vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    display: flex;
    flex-direction: column;
}
#messages {
    height: 90%;
    margin-bottom: 3vh;
    border: rgb(255, 255, 255) 0.3px solid;
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    overflow-anchor: auto;
    display: flex;
    flex-direction: column-reverse;
}
#user-interface {
    height: 50px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
#input {
    width: 500px;
}
#submit {
    width: 10%;
}
form {
    width: 100%;
}
.uibts {
    box-sizing: border-box;
    height: 35px;
    border-radius: 10px;
    border: 2px rgb(216, 216, 216)solid;
    background-color: white;
    margin: 0 10px;
}
#refresh {
    height: 20px;
}
#refreshbutton {
    display: flex;
    align-items: center;
}
.buttons:hover {
    background-color: whitesmoke;
    cursor: pointer;
}
.buttons:active {
    background-color: rgb(177, 177, 177);
}